
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/images/spiderman.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-right info">
                <p>אביעד בן חיון</p>
                <a href="#"><i class="fa fa-circle text-success"></i> מחובר</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                <input type="text" name="q" class="form-control" placeholder="חפש...">
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">תפריט ניווט</li>
            <!-- First ROW -->
            <li class="treeview">
                <a href="/User">
                    <div>
                        <i class="fa fa-dashboard"></i>
                        <span>משתמשים</span>
                          <i class="fa fa-angle-left pull-left"></i>
                    </div>
                </a>
            </li>
            <!-- Second ROW -->
            <!-- First ROW -->
            <li class="treeview">
                <a href="/Customer">
                    <div>
                        <i class="fa fa-dashboard"></i> 
                        <span>לקוחות</span>
                        <i class="fa fa-angle-left pull-left"></i>
                    </div>
                </a>
            </li>
            <!-- Second ROW -->
            <!-- First ROW -->
            <li class="treeview">
                <a href="/UpdateUsers">
                    <div>
                        <i class="fa fa-dashboard"></i>  
                        <span>משתמשים</span>
                        <i class="fa fa-angle-left pull-left"></i>
                    </div>
                </a>
            </li>
            <!-- Second ROW -->
            <!-- First ROW -->
            <li class="treeview">
                <a href="#">
                    <div>
                        <i class="fa fa-dashboard"></i> 
                        <span>משתמשים</span>
                         <i class="fa fa-angle-left pull-left"></i>
                    </div>
                </a>
                <ul class="treeview-menu">
                    <li class="active">
                        <a href="index.html">
                            <div>
                                <span>הוספה</span>
                                <i class="fa fa-circle-o"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <div>
                                <span>עדכון</span>
                                <i class="fa fa-circle-o"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <div>
                                <span>מחיקה</span>
                                <i class="fa fa-circle-o"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Second ROW -->
            <!-- MULTILEVEL EXAMPLE -->
            <li class="treeview">
                <a href="#">
                    <div>
                        <i class="fa fa-share"></i>
                        <span>לקוחות</span>
                        <i class="fa fa-angle-left pull-left"></i>
                    </div>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#">
                            <div> <span>חדשים</span><i class="fa fa-circle-o"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div> <span>ישנים</span><i class="fa fa-circle-o"></i><i class="fa fa-angle-right pull-left"></i></div>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="#">
                                    <div> <span>ישנים מאוד</span><i class="fa fa-circle-o"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div> <span>ישנים רצח</span> <i class="fa fa-circle-o"></i><i class="fa fa-angle-right pull-left"></i> </div>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"> <div> <span>אופל שנת 20</span> <i class="fa fa-circle-o pull-right"></i>  </div></a></li>
                                    <li><a href="#"> <div> <span>מיצובישי שנת 30</span> <i class="fa fa-circle-o pull-right"></i>  </div></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <div> <span>בקרוב</span><i class="fa fa-circle-o"></i></div>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- END MULTILEVEL EXAMPLE -->
            <!-- Third ROW -->
            <li>
                <a href="/UserUpdate">
                    <div>
                        <i class="fa fa-th"></i>
                        <span>בלי תפריט נוסף</span>
                    </div>
                    <!-- <small class="label pull-left bg-green">new</small> -->
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->